body{
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}

header{
    background-color: brown;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1,h2{
    color: blue;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}
header h1{
    font-family: cursive;
    font-size: 30px;
}

header img{
    border-radius: 200px;
    border: 0px solid cornflowerblue ;
    width: 300px;
    height: 300px;
}


main{
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}
/* max-width will put everything in place */
main img{
    max-width: 100%;
}

h2{
    padding-top: 0;
}



